body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 95vw;
  height: 95vh;
}

.content-container {
  width: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}



@media only screen and (max-width: 700px) {
  .container {
    height: 86vh;
  }

  .content-container {
    height: 100%;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-left: 0px !important;
  }
}